*{
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.login-container,
form,
label,
input,
button,
h1 {
    color: white;
}